
/* ---NAVBAR CSS--- */

.navbar {
    background-color: var(--color-A);
    color: var(--color-D);
  }
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand h3 {
    margin-left: .5em;
    margin-bottom: 0;
  }
  
  .container-fluid {
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-nav {
    margin: auto;
    gap: 5em;
    box-sizing: border-box;
  }
  
  .navbar-nav li a:hover {
    border-bottom: 3px var(--color-D) solid;
    transform: scale(1.05);
    transition: all .1s ease;
  }
  
  .dropdown-menu li a:hover {
    border-bottom: none;
  }
  
  .d-flex input:focus{
    border: 5px var(--color-D) solid;
  }
  
  .d-flex button:hover{
    background-color: var(--color-D);
  }
  
  @media (max-width:990px) {
    .navbar-nav {
      gap: .5em;
    }
  
    .navbar-nav li a:hover {
      transform: none;
    }
  
    
  
  }
  
  @media (max-width:600px) {
    .d-flex input{
      display: none;
    }
  
    .d-flex button{
      display: none;
    }
  
  }
  