/* ---COLORES/FUENTES BASE--- */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--color-background);
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-A: #fafafa;
  --color-B: #c2c2c2;
  --color-C: #5c5c5c;
  --color-background: #dadada77;
}
