.input {
    width: 100%;
}

.input-password {
    width: 91%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.icon-visibility:hover {
    transform: scale(1.2);
    cursor: pointer;
}